<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="iniciado==false">
    <ion-input type="text" placeholder="Username" [(ngModel)]="nombre"></ion-input>
    <ion-input type="password" placeholder="Pasword" [(ngModel)]="Contrasena"></ion-input>
    <ion-button (click)="inicio()" expand="block" fill="clear" shape="round">
      Inicia Sesion
    </ion-button>
    <ion-button (click)="crear()" expand="block" fill="clear" shape="round">
      Crear Usuario
    </ion-button>
  </div>

  <div *ngIf="iniciado==true">
    <ion-button (click)="GPS()" expand="block" fill="clear" shape="round">
      Geolocation
    </ion-button>
    <ion-button (click)="location()" expand="block" fill="clear" shape="round">
      Acurate location
    </ion-button>
    <ion-button (click)="actualizar()" expand="block" fill="clear" shape="round">
      Actualizar ubicacion
    </ion-button>
    <ion-button (click)="toasty()" expand="block" fill="clear" shape="round">
      Toast
    </ion-button>
    <ion-button (click)="vibra()" expand="block" fill="clear" shape="round">
      vibra
    </ion-button>
    <ion-button (click)="Activate()" expand="block" fill="clear" shape="round">
      Activate
    </ion-button>
    <ion-button (click)="Deactivate()" expand="block" fill="clear" shape="round">
      Deactivate
    </ion-button>
  </div>
  
</ion-content>
