<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="iniciado==false">
      Inicia Sesión
    </ion-title>
    <ion-title *ngIf="iniciado==true">
      Activa ubicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <span *ngIf="iniciado==false">
    <ion-input type="text" placeholder="Username" [(ngModel)]="nombre"></ion-input>
    <ion-input type="password" placeholder="Pasword" [(ngModel)]="Contrasena"></ion-input>
    <ion-button (click)="inicio()" expand="block" fill="clear" shape="round">
      Inicia Sesión
    </ion-button>
    <ion-button (click)="crear()" expand="block" fill="clear" shape="round">
      Crear Usuario
    </ion-button>
  </span>

  
  <div *ngIf="iniciado==true" id="botton">
    <span *ngIf="activado==false">
      <ion-button (click)="Activate()" shape="circle" size="large" color="success">
        Activar
      </ion-button>
    </span>
    <span *ngIf="activado==true">
      <ion-button (click)="Deactivate()"  shape="circle" size="large" color="danger">
        Desactivar
      </ion-button>
    </span>
  </div>
</ion-content>

<span *ngIf="iniciado==true" id="fondo">
  <ion-tab-bar slot="bottom" >
    <ion-tab-button (click)="modales()">
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</span>